main{
    display: grid;
    grid-template-columns: 250px 250px;
    gap:10px;
    justify-content: center;
}
.producto{
    border: 1px solid black;
}

@media(min-width:600px){
    main{
        display: grid;
        grid-template-columns: 250px 250px 250px;
    }
}
@media(min-width:900px){
    main{
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
    }
}
@media(min-width:1200px){
    main{
        display: grid;
        grid-template-columns: 250px 250px 250px 250px 250px;
    }
}
